<p>This is an online coffee delivery service for Students, Employees, and Faculty at St. Petersburg College</p>
<div id="banner" class="image-rotator banner-container">
  <%= image_tag "coffee1.jpg", alt: "Banner 1" %>
  <%= image_tag "coffee2.jpg", alt: "Banner 2" %>
  <%= image_tag "coffee3.jpg", alt: "Banner 3" %>
  <%= image_tag "coffee4.jpg", alt: "Banner 4" %>
</div>